Terminal_Solution/.vs
Terminal_Solution/Debug
Terminal_Solution/Project2/Debug
Terminal_Solution/Project2/x64/Debug
Terminal_Solution/x64/Debug
Terminal_Solution/Project1/Debug
Terminal_Solution/Project3/Debug
